# Classifying Risks Leveraging Poisson Regression Model

- The frequency of claim is the target variable here.
- Minimal risk rating factor that can be leveraged to classify risks into frequency bands
- Make it an inference service that can be used deployed

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Preparing the Dataset 

- The frequency from the claims dataset to be aggregated
- Joined onto the rating factors; rating factors double checked for duplicates
- Rating factor records without a claims frequency , assigned a value of 0. This is indicates the a claim was not recorded by that policy holder

In [3]:
rating_factors = pd.read_csv('../data/input/exp/Motor vehicle insurance data.csv', delimiter=";")
claims =  pd.read_csv('../data/input/exp/sample type claim.csv', delimiter=';')

In [13]:
claims_frequency  = (
    claims
    .groupby('ID')
    .agg({'Claims_type': 'count'})
    .rename(columns={'Claims_type': 'claims_frequency'})
    .reset_index()
)
claims_frequency.describe()

                 ID  claims_frequency
count   5255.000000       5255.000000
mean   27383.924263          1.401713
std    15437.708864          0.750711
min       28.000000          1.000000
25%    14287.500000          1.000000
50%    27905.000000          1.000000
75%    40515.000000          2.000000
max    53459.000000          9.000000

In [18]:
dataset = (
    pd.merge(left=rating_factors,
             right=claims_frequency,
             on='ID',
             how='left'))
dataset.claims_frequency.value_counts()

claims_frequency
1.0    7791
2.0    2102
3.0     588
4.0     139
5.0      45
6.0      14
9.0       5
7.0       2
8.0       1
Name: count, dtype: int64